
<!DOCTYPE html>
<html>
<head>

<%= stylesheet_link_tag "application", :media => "all" %>
 <%= javascript_include_tag "application" %>
 <%= csrf_meta_tags %>
 <%= stylesheet_link_tag 'homepage', media: 'all' %>
<script>
$(document).ready(function(){
	var pid;
	var lid;
	console.log("IN JQUERY");
	$(".link_to").click(function(){
	 		lid=$(this)
	 		 console.log(lid);
			pid = $(this).parent(); 
	 		console.log(pid);
			});

  $('.link_to').bind("ajax:success", function(evt, data, status, xhr){
  	console.log("Inside success");
  	console.log(status);
  	console.log(xhr.responseText);
  	if(xhr.responseText == 0)
 	{
 		console.log("iN IF");
 		alert("you have already voted!");
 	}
 	else
 	{
 		console.log("IN ELSE");	
 		pid.first().text("Votes : " + xhr.responseText);
 		// .css('color','skyblue')
 		// pid.append("<br>")
 		// pid.append(lid);
 	}
   });

});
</script>
 <script type="text/javascript">
 	function validate()
 		{
 			alert("you need to sign in!");
 		}
 </script>

</head>



<body>
<div style="margin-top:80px;position:relative">
<% if user_signed_in? %>
<% @bookmarks.each do|bookmark| %>

<a href= /home/linkTo?id=<%= bookmark.id.to_s %>>	
<div class="container1"> 
	Title : <%= bookmark.title %><br>
	Description : <%= bookmark.description %><br>
	Bookmark Created By : <%= bookmark.user.username %><br>
	Bookmark Created At : <%= bookmark.created_at %><br>
	<div id = div<%= bookmark.id %>>
	<p id= para<%= bookmark.id %> >Votes : <%= bookmark.votes %></p>
	<a href = /home/addVote?id=<%= bookmark.id %> class = "link_to" data-remote = true>Vote  
	<i class="icon-thumbs-up" style="font-size: 2em;color:green"></i>  
	</a>
	
</div>
</div>

</a>
<% end %>

<% else %>
	<% @bookmarks.each do|bookmark| %>
	<a href = "http://localhost:3000" onclick = "validate()">
	<div class="container1" >
	Title : <%= bookmark.title %><br>
	Description : <%= bookmark.description %><br>
	<!-- Website Link : link</a><br> -->
	Bookmark Created By : <%= bookmark.user.username %><br>
	Bookmark Created At : <%= bookmark.created_at %><br>
	</div>
	</a>
	<% end %>
<% end %>
</div>
	
</body>
</html>


